* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header{
	width:100%;
	height:70px;
	background-color:#EC715F;
}
nav{
	width:1024px;
	margin:0 auto;
}
.title{
	float:left;
	height:70px;
}
.nav-list-item{
	float:right;
	font-size:16px;
	color:#FAFAFA;
	margin: auto 30px;
	list-style: none;
	line-height:70px;
}
body{
	margin: 0 auto;
}
.mainvisual{
	height:650px;
	width:100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.name{
	font-size: 64px;
	color:#FAFAFA;
	text-align: center;
	padding-top: 200px
}
.text1{
	font-size: 20px;
	color:#FAFAFA;
	text-align: center;
	padding-top:20px;
}
.portfolio{
	background-color:#ECEFF1;
}
.subject{
	font-size: 32px;
	color:#000000;
	padding-top:90px;
	text-align: center;
}
.box{
	width:70px;
	height:8px;
	border-bottom: 3px solid #EC715F;
	margin:0 auto;
}
.text2{
	text-align: center;
	padding-bottom: 30px;
	padding-top:30px;
	color:black;
}
.portfolio-content{
	width:920px;
	margin:0 auto;
}
.portfolio-box{
	display: inline-block;
	float:right;
	width:300px;
	height:250px;
	margin-left: 10px;
	margin-bottom:10px;
	background-position: center;
	background-size:cover;
	text-align: center;
}
.portfolio-box:first-child{
	background-image: url(img/write.jpg);
}
.portfolio-box:nth-child(2){
	background-image: url(img/websuku.png);
}
.portfolio-box:nth-child(3){
	background-image: url(img/sketch.jpg);
	margin-left:0;
}
.portfolio-box:nth-child(4){
	background-image: url(img/webcamp-mother.png);
}
.portfolio-box:nth-child(5){
	background-image: url(img/talk.jpg);
	margin-bottom: 90px
}
.portfolio-box:last-child{
	background-image: url(img/webcamp.png);
	margin-left:0;
}
.feature{
	width:980px;
	margin:0 auto;
}
.feature-content{
	display:inline-block;
	width:320px;
}
.feature-content:last-child{
	margin-right:0;
}
.feature-icon{
	width:320px;
	height:60px;
}
.fa{
	font-size: 60px;
	width:320px;
	text-align: center;
	color:black;
}
.feature-title{
	text-align: center;
	font-size:20px;
	color:#000000;
	padding-top: 10px;
	padding-bottom:10px;
}
.feature-text{
	font-size: 16px;
	color:#000000;
	margin-bottom:90px;
	margin-right: 10px
}
.profile{
	background-color: #ECEFF1;
}
.profile-content{
	width:1024px;
	margin: 0 auto;
}
.face{
	float:left;
	width:512px;
	text-align: center;
	margin-bottom: 90px
}
.face-picture{
	border-radius: 50%;
	width:  250px;
	height: 250px;

}
.profile-explanation{
	float:left;
	width:512px;
	margin-bottom: 90px
}
.profile-title{
	text-align: left;
	font-size:20px;
	color:#000000;
	padding-bottom:5px;
}
.profile-title2{
	text-align: left;
	font-size:20px;
	color:#000000;
	padding-bottom:5px;
	margin-top:20px;
}
.profile-text{
	font-size: 16px;
	color:#000000;
}
.contact{
	width:800px;
	margin:0 auto;
}
.contact-box{
	float:left;
	width:400px;
	margin-bottom: 90px;
}
.contact-box-box{
		width: 130px;
    	margin: 0 auto;
}
.contact-box-box2{
		width: 178px;
    	margin: 0 auto;
}
.contact-title{
	position: relative;
	font-size: 20px;
	color:#000000;
	margin-bottom: 5px;
}
.contact-title2{
	position: relative;
	font-size: 20px;
	color:#000000;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contact-content{
	display: inline-block;
	border-bottom: 1px solid #000000;
	text-align: center;
}
.fab{
	font-size: 50px;
	margin-right: 20px;
	color:black;
}
.fab:last-child{
	margin:0;
}
footer{
	width: 100%;
	height: 60px;
	background-color:#EC715F;
}
.copyright{
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}
@media screen and (max-width:768px){
	header{
		width:100%;
		height:50px;
	}
	nav{
		width:90%;
	}
	.nav-list-item{
		display:none;
	}
	.menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
	}
	.list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
	}
	.list-bar:first-child {
    margin-top: 10px;
	}
	.title{
		height:50px;
	}
	.name{
		font-size: 40px;
	}
	.text1{
		font-size: 18px;
	}
	.mainvisual{
		background-image: url(img/code.png);
	}
	.body{
		margin:0 auto;
	}
	.portfolio{
		padding-bottom: 90px;
	}
	.portfolio-content{
		width:90%;
	}
	.portfolio-box{
		display: block;
		float: none;
		padding-bottom: 10px;
		margin:0 auto;
	}
	.portfolio-box:nth-child(1){
		display:none;
	}
	.portfolio-box:nth-child(3){
		display:none;
	}
	.portfolio-box:nth-child(4){
	background-image: url(img/webcamp-mother.png);
	margin-top: 10px;
	}
	.portfolio-box:nth-child(5){
		display:none;
	}
	.portfolio-box:last-child{
	background-image: url(img/webcamp.png);
	margin-top:10px;
	margin-left:auto;
	}
	.feature{
		width:90%;
	}
	.feature-content{
		display:block;
		margin: 0 auto;
	}
	.feature-content:last-child{
		margin:0 auto;
	}
	.feature-text{
		margin-right: 0px;
	}
	.profile-content{
		width:90%;
	}
	.profile-explanation{
		width:100%;
	}
	.profile-title{
		text-align: center;
	}
	.profile-title2{
		text-align: center;
	}
	.profile-text{
		text-align: center;
	}
	.face{
		width:100%;
	}
	.profile-explanation{
		max-width: 100%;
	}
	.contact{
		width:90%;
	}
	.contact-box{
	width:100%;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 5px;
	}
	.contact-box:last-child{
		padding-bottom:90px;
	}
	.contact-title{
		text-align: center;
	}
	.contact-title2{
		text-align: center;
	}
	.contact-content{
		text-align: center;
	}
}